*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 780px;
}

.card {
  border: 1px solid black;
  padding: .5rem;
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &.active {
    display: block;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .poster {
    width: 100%;
  }
}

#filters {
  border: 1px solid black;
  padding: 24px 12px;
  margin-bottom: 12px;
}

#results {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, 120px); */
  display: flex;
  gap: 12px;
}