@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  --max-width: 960px;

  --breakpoint-md: 640px;

  --color-dark: rgb(33, 39, 48);
  --color-grey: #3e3f31;
  --color-teal: #76abae;
  --color-white: #eeeeee;
  --color-highlight: rgb(65, 203, 44);
  /* #c0d2d3; #4a5488; */
  --color-screen-bg: #0d5605;
  --color-screen-highlight: #4a5488;

  --screen-color: #c0d2d3;
  --color-screen-dark: #1e2a1e;
  --color-screen-light: #334a38;
  --shadow-offset: 0.1rem;
  --shadow-blur: 0px;
  --shadow-color: rgba(0, 0, 0, 0.3);
  --screen-shadow: inset var(--shadow-offset) var(--shadow-offset)
      var(--shadow-blur) var(--shadow-color),
    var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
      var(--shadow-color);

  --screen-width: 480px;
  --poster-width: 360px;

  transition-duration: 250ms;
  /* transition-property: color, background-color, border-color, box-shadow; */
  scrollbar-width: none;
}

body {
  background-color: #222;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main-container {
  display: flex;
  background: grey;
  max-height: 640px;
  max-width: 960px;
  margin-inline: auto;
  margin-top: 6rem;
  box-shadow: 2px 2px 10px 0 black;

  section {
    display: grid;
    grid-template-rows: minmax(300px, 3fr) minmax(200px, 1fr);
    /* border: 1px solid black; */

    /* max-height: 640px; */

    background-color: rgb(77, 77, 77);
    box-shadow: inset 1px 1px 2px 2px rgba(255, 255, 255, 0.296),
      inset 0 0 0 1px black;
    .bottom {
      background-color: slategray;
      /* height: 200px; */
    }

    &.left {
      /* max-width: 240px; */
      width: 240px;
    }
    &.mid {
      width: 360px;

      .top {
        > span:first-child {
          display: block;
          padding: 0.5rem;
          position: relative;
          height: 100%;

          &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0.5rem;
            background: radial-gradient(circle at 50% 35%, #334a38, #1e2a1e);
            box-shadow: inset 3px 3px 20px 1px rgba(255, 255, 255, 0.25);
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            inset: 0.5rem;
            background: radial-gradient(
              circle at top left,
              rgba(255, 255, 255, 0.5),
              rgba(255, 255, 255, 0.15) 30%,
              transparent 90%
            );

            pointer-events: none;
            box-shadow: inset 1px 1px 3px 3px black;
          }
        }

        span:has(> #poster) {
          display: block;
          height: 100%;
          width: 100%;

          #poster {
            mix-blend-mode: color-dodge;
            filter: contrast(0.75);
            /* padding: 2px; */
          }
        }
      }
    }
    &.right {
      --active-color: var(--color-highlight);
      width: 480px;

      font-family: "Handjet", sans-serif;
      /* font-optical-sizing: auto; */
      font-weight: 700;
      letter-spacing: 0.25ch;
      font-style: normal;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        inset: 0.5rem;
        /* width: 96.5%; */
        height: 66.5%;
        background: radial-gradient(
          circle at top left,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0.15) 30%,
          transparent 90%
        );
        pointer-events: none;
        box-shadow: inset 1px 1px 3px 3px black;
      }
      /* font-variation-settings: "ELGR" 1, "ELSH" 2; */
      > div:first-child {
        /* SCREEN SHIT  */
        padding: 0.5rem;
        background: radial-gradient(circle at 50% 35%, #334a38, #1e2a1e);
        box-shadow: inset 3px 3px 20px 1px rgba(255, 255, 255, 0.25);
        margin: 0.5rem;
        /* background: var(--color-screen-bg); */

        overflow-y: scroll;
        position: relative;
        color: var(--color-highlight);
      }

      .loading-screen {
        position: absolute;
        inset: 0;
        background-color: green;
      }
      .tabs {
        display: flex;
        span {
          padding-inline: 0.75rem;
          border: 2px solid var(--color-highlight);
          border-bottom: none;
          /* background-color: var(--inactive-color); */
          box-shadow: inset var(--shadow-offset) var(--shadow-offset)
              var(--shadow-blur) var(--shadow-color),
            var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
              var(--shadow-color);

          text-shadow: var(--shadow-offset) var(--shadow-offset)
            var(--shadow-blur) var(--shadow-color);
          color: black;
          &:hover {
            color: var(--color-highlight);
          }
          &.active {
            background-color: var(--active-color);
            box-shadow: var(--shadow-offset) var(--shadow-offset)
              var(--shadow-blur) var(--shadow-color);
            color: black;
            text-shadow: none;
          }
        }
      }

      .search {
        --color-dark: black;
        --color-light: darkorange;
        position: relative;
        background: linear-gradient(
          -65deg,
          var(--color-light) 10%,
          var(--color-dark) 10%,
          var(--color-dark) 25%,
          var(--color-light) 25%,
          var(--color-light) 35%,
          var(--color-dark) 35%,
          var(--color-dark) 50%,
          var(--color-light) 50%,
          var(--color-light) 60%,
          var(--color-dark) 60%,
          var(--color-dark) 75%,
          var(--color-light) 75%,
          var(--color-light) 85%,
          var(--color-dark) 85%,
          var(--color-dark) 100%
        );

        /* display: grid;
        place-items: center; */
        label[for="submit"] {
          position: absolute;
          bottom: 15%;
          left: 50%;
          translate: -50% 0;
          background-color: grey;
          padding: 0.25rem 0.5rem;
          /* font-size: 0.75rem; */
          font-weight: 900;
          letter-spacing: normal;
          box-shadow: inset 1px 1px 1px 0 white, inset -1px -1px 1px 0 black;
        }
        #submit {
          background-color: red;
          /* width: 30%; */
          aspect-ratio: 1/1;
          height: 50%;
          position: absolute;
          left: 50%;
          top: 15%;
          translate: -50% 0;
          border-radius: 50%;
          border: none;
          box-shadow: inset 0 0 3px 4px hsla(0, 100%, 0%, 0.9),
            inset 0 0 6px 10px rgb(255, 150, 150, 0.7);
          transition-duration: 250ms;
          transition-property: box-shadow, background-color;
          border: 5px solid grey;
          /* border: 20px solid;
          border-image: linear-gradient(to left, black, white);
          border-image-slice: 10; */
          &:active {
            box-shadow: inset 0 0 5px 7px rgba(0, 0, 0, 1),
              inset 0 0 6px 10px rgb(255, 150, 150, 0.6);
            /* background-color: darkred; */
          }

          &::before {
            content: "asdasdasiodh";
          }
        }
      }
    }

    .main-screen {
      /* background-color: red; */
      display: grid;
      grid-template-columns: 1fr;

      &.loading::after {
        content: "LOADING DATA...";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        inset: 0;
        background-color: var(--color-screen-bg);
      }
      [data-tab="first"],
      [data-tab="second"] {
        /* background-color: var(--inactive-color); */
        display: none;
        padding: 0.5rem;
        &.active {
          /* background-color: var(--active-color); */
          border: 2px solid var(--color-highlight);
          box-shadow: inset var(--shadow-offset) var(--shadow-offset)
              var(--shadow-blur) var(--shadow-color),
            var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
              var(--shadow-color);
          display: flex;

          flex-direction: column;
          /* display: initial; */
        }
      }

      [data-tab="first"] {
        flex-direction: column;
        gap: 0.25rem;
        /* &.active {
          display: flex;
        } */
        .row {
          gap: 0.25rem;
          .content {
            display: flex;
            overflow-x: scroll;
            .button-span {
              padding: 0.25rem 0.5rem;
              white-space: nowrap;
              &.link:hover {
                cursor: inherit;
                background-color: var(--color-highlight);
                text-shadow: none;
                color: black;
              }
            }
          }
          &.title {
            .content {
              span:hover {
                a {
                  color: black;
                }
              }
              a {
                color: var(--color-highlight);
                text-decoration: none;
                cursor: inherit;
              }
            }
          }
          &.subtitle {
            grid-template-columns: 1fr;
            /* height: 16px; */
            font-size: 0.75rem;
            font-weight: 900;
            /* font-family: "Tiny5", sans-serif; */
            text-transform: uppercase;
            font-style: normal;
            /* border: 2px solid; */

            .content {
              justify-content: center;
              align-items: center;
              box-shadow: none;
              overflow: visible;
              .button-span {
                padding-block: 0;
                border: 2px solid;
                text-align: center;
                box-shadow: 3px 3px red;
                box-shadow: var(--screen-shadow);

                text-shadow: var(--shadow-offset) var(--shadow-offset)
                  var(--shadow-blur) var(--shadow-color);

                flex: 1;
                &:not(&:last-child) {
                  border-right: none;
                }
              }
            }
            > span.content:first-child {
              justify-content: flex-start;
              justify-content: stretch;
              /* gap: 0; */
              border: none;
            }
          }
          &.plot {
            grid-template-columns: 1fr;
            text-align: center;
            > span {
              justify-content: center;
            }
            .content {
              overflow-y: scroll;
              padding: 0.25rem 0.5rem;
            }
          }
          > span {
            /* padding-block: 0.5rem; */
            &:first-child {
              justify-content: center;
            }
            display: flex;
            align-items: center;
            /* background-color: red; */
            border: 2px solid var(--color-highlight);
            position: relative;
            box-shadow: inset var(--shadow-offset) var(--shadow-offset)
                var(--shadow-blur) var(--shadow-color),
              var(--shadow-offset) var(--shadow-offset) var(--shadow-blur)
                var(--shadow-color);
            text-shadow: var(--shadow-offset) var(--shadow-offset)
              var(--shadow-blur) var(--shadow-color);
          }

          /* display: flex; */
        }
      }

      [data-tab="second"] {
        /* &.active {
          background-color: var(--active-color);
          display: block;
        } */
        gap: 0.25rem;
        .genres,
        .countries {
          background-color: #3e3f31;
          grid-template-rows: 1fr 0;
          overflow: hidden;

          &.open {
            grid-template-rows: min-content min-content;
          }
          .content {
            display: flex;
            flex-direction: column;
            height: 400px;
            overflow-y: scroll;
            grid-column: span 2;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }
        }

        .genres {
          gap: 0.25rem;
          .content {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            gap: 0.25rem;
            span {
              display: grid;
              place-items: center;
            }
          }
        }

        .option {
          border: 2px solid var(--color-highlight);
          &.selected {
            background-color: var(--color-highlight);
            color: black;
          }
        }

        .row {
          /* gap: 10px; */
          column-gap: 0.5rem;
          /* span {
            background-color: red;
            span {
              background-color: green;
            }
          } */
          &.release-year {
            span {
              display: flex;
            }
          }
        }
      }
    }
  }
  /* here  */
  .row {
    display: grid;
    grid-template-columns: 1fr 6fr;

    /* &.subtitle {
      grid-template-columns: 1fr;
    } */
    &.plot {
      grid-template-columns: 1fr;
      text-align: center;
      > span {
        justify-content: center;
      }
      .content {
        overflow-y: scroll;
      }
    }
  }
}

#filters {
  /* .genres,
  .countries {
    background-color: #3e3f31;
    grid-template-rows: 1fr 0;
    overflow: hidden;

    &.open {
      grid-template-rows: min-content min-content;
    }
    .content {
      display: flex;
      flex-direction: column;
      height: 400px;
      overflow-y: scroll;
      grid-column: span 2;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  } */

  /* .genre-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .option {
    background-color: gainsboro;
    &.selected {
      background-color: green;
    }
  } */
}
