@import './styles/reset.css';
@import './styles/variables.css';
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap");


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}


body {
  margin: 0;
  min-height: 100vh;
  /* font-family: "Handjet", sans-serif; */
  font-weight: 300;
  font-size: 1rem;
}


#app {
  max-width: 1280px;
  min-height: 100vh;
  /* padding: 2rem; */
  margin-inline: auto;
  place-content: center;
}

main {
  margin: auto;
  max-width: 960px;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(480px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 240px);
  grid-template-areas:
    "poster poster poster info info info info"
    "poster poster poster info info info info"
    "disk disk extra extra extra controls controls";

  gap: .25rem;
  position: relative;
  
/* 
  @media screen and (min-width: 580px) and (max-width: 640px) {
    grid-template-areas:
      "poster poster poster info info info info"
      "poster poster poster info info info info"
      "extra extra rating rating controls controls";
    grid-template-columns: repeat(6, 1fr);
    background-color: red;

  } */

  @media screen and (max-width: 580px) {
    max-height: 640px;

    grid-template-areas:
      "poster poster"
      "info info"
      "disk controls"
      "extra extra";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  /* grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr); */

  @media screen and (max-width: 480px) {
    /* grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); */


  }

  * {
    font: inherit;
  }

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

}

/* 
.disk {
  background: red;
  transition: 250ms ease-out;
}

.loading-anim .disk {
  background-color: blue;
  translate: 0 50vh;
} */

.loading-anim #disk {
  /* translate: -10% 0; */
  /* transition-delay: 0 !important; */
}

.loading-anim .image {
  translate: 0 50vh;
  /* transition-delay: 250ms !important; */
}

.kurac-border {
  border: var(--border-default);

}