@import "./variables.scss";
@import "./mixins.scss";
.search {
  $color-dark: black;
  $color-light: darkorange;
  position: relative;
  grid-area: search;
  padding: 2rem;
  display: grid;
  place-items: center;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 1rem;
  }
  box-shadow: $monitor-bevel-outer;
  border-radius: $monitor-border-radius;
  background: linear-gradient(
    -65deg,
    $color-light 10%,
    $color-dark 10% 25%,
    $color-light 25% 35%,
    $color-dark 35% 50%,
    $color-light 50% 60%,
    $color-dark 60% 75%,
    $color-light 75% 85%,
    $color-dark 85% 100%
  );

  #submit {
    background-color: darkred;
    aspect-ratio: 1/1;
    height: 100%;
    max-height: 150px;

    border-radius: 50%;
    border: none;
    box-shadow: inset 0 0 3px 4px hsla(0, 100%, 0%, 0.9), $monitor-bevel-inner;
    transition-duration: 250ms;
    transition-property: box-shadow, background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    &:disabled {
      background-color: grey;
    }

    &:active:not(:disabled) {
      box-shadow: inset 0 0 5px 7px rgba(0, 0, 0, 1), $monitor-bevel-inner;
      &::before {
        scale: 0.95;
      }
    }

    &::before {
      content: "";
      border: 30px solid transparent;
      border-top-width: 50px;
      border-top-color: $color-beige;
      border-bottom: 0;
      translate: 0 18%;
    }
  }
}

.extra-info {
  grid-area: rating;
  background-color: $monitor-color;
  display: grid;
  grid-template-rows: fit-content 1fr;
  border-radius: $monitor-border-radius;
  box-shadow: $monitor-bevel-outer;
  position: relative;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "rating rating response"
    "tooltip tooltip tooltip";
  padding: 1rem;
  gap: 1rem;
  [data-rating] {
    background-color: gold;
    height: 150px;
    grid-area: rating;
    opacity: 0;
    width: 80%;
    grid-area: rating;

    box-shadow: inset 0 0 15px 6px black, inset 5px 3px 30px 4px black,
      inset 0 0 6px 2px black, $monitor-bevel-inner;
  }

  &:after {
    // temp
    // content: "";
    background-color: #222;
    border-radius: $monitor-border-radius;
    box-shadow: $monitor-bevel-outer;
    position: absolute;
    inset: 0;
  }
  &-extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .response {
    // display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0.5rem;
    grid-area: response;

    .error {
      $light-color: rgb(139, 0, 0);
      @include lightbulb-color($light-color);
    }
    .success {
      $light-color: green;
      @include lightbulb-color($light-color);
    }
    .pending {
      $light-color: rgb(175, 135, 5);
      @include lightbulb-color($light-color);
    }
  }

  [data-rating] {
    height: 100%;
    width: 100%;
    position: relative;
    --rotation: 0deg;
    --rotation-overshoot: 30deg;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
      content: "Rate-O-Meter";
      position: absolute;
      left: 50%;
      bottom: 0;
      translate: -50% -50%;
      font-size: 0.75rem;
    }

    &::after {
      content: "";
      position: absolute;
      inset-block: 20%;
      inset-inline: 20px;
      border-radius: 50%;
      border: 2px dashed black;
      border-bottom: none;
      border-right-width: 0;
      border-left-width: 0;
    }
  }
  #arrow {
    --rotation: 0deg;
    position: absolute;
    bottom: 35%;
    right: 50%;
    // translate: 0 50%;
    transition: rotate 1s ease-in;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: rotate(-90deg) translateY(-2px);
    rotate: var(--rotation);
    transform-origin: bottom;
    border: 0.4rem solid transparent;
    border-right-color: black;
    border-right-width: 4rem;
    border: none;
    width: 0.1rem;
    height: 40%;
    z-index: 2;

    box-shadow: 2px 2px black;
  }

  .tooltip {
    grid-area: tooltip;

    .screen {
      height: 100%;
      min-height: 6rem;
      display: flex;
    }
  }
  [data-tooltip-display] {
    color: $color-highlight;
    padding: 0.25rem 1.25rem;
    text-align: center;
    align-content: center;
    font-size: 0.8rem;
    width: 100%;
    text-wrap: balance;
    hyphens: auto;
    -webkit-hyphens: auto;
  }
  [data-runtime] {
    background-color: darkcyan;
    display: grid;
    place-items: center;
  }
  [data-revenue] {
    background-color: maroon;
    background-color: chartreuse;
    display: grid;
    place-items: center;
  }
}
.extra-3,
.extra-1,
.extra-2 {
  border-radius: $monitor-border-radius;
  display: none;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-lg) {
    display: none;
  }
}

.extra-1 {
  background-color: orange;
  grid-area: extra-1;
  padding: $monitor-padding;
  .container {
    background: $screen-color;
    padding: 0.25rem 0.5rem;
  }
}

.extra-2 {
  background-color: purple;
  grid-area: extra-2;
}

.themes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  [class^="theme-"] {
    border: 1px solid black;
  }
}

.extra-3 {
  background-color: chartreuse;
  box-shadow: $monitor-bevel-outer;
  border-radius: $monitor-border-radius;
  position: relative;
  grid-area: extra-3;
  &:after {
    // temp
    content: "";
    background-color: #222;
    border-radius: $monitor-border-radius;
    box-shadow: $monitor-bevel-outer;
    position: absolute;
    inset: 0;
  }
}

.stickynote {
  perspective: 150px;
  width: fit-content;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  translate: 35% 90%;
}

.history {
  perspective: 150px;
  background: palegoldenrod;
  width: 6rem;
  aspect-ratio: 1/1;
  transform: rotateX(10deg);
  display: flex;
  flex-direction: column;
  box-shadow: 3px 16px 2px -4px rgba(0, 0, 0, 0.4);
  transform-origin: top;
  background: repeating-linear-gradient(to bottom, palegoldenrod, palegoldenrod 9%, darken(palegoldenrod, 30%) 10%);

  &:hover {
    transform: rotateX(7deg);
    box-shadow: 2px 10px 1px -2px rgba(0, 0, 0, 0.4);
    &:before {
      transform: rotateX(-11deg) translateY(1px) scale(1.01);
    }
  }

  &:before {
    content: "";
    // transform: rotateX(-11deg) translateY(0.5px) scale(5);
    background: palegoldenrod;
    position: absolute;
    top: -8px;
    inset-inline: 0;
    height: 1rem;
    translate: 0 -50%;
    transform: rotateX(-15deg) translateY(0.5px) scale(1.01);
    transition: 250ms ease-out;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
  }
}

.note {
  padding-inline: 0.5rem;
  font-size: 0.75rem;
  line-height: 1.25;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  word-break: auto;
  white-space: pre-line;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
  }
}
