@import "./variables.scss";

.info {
  display: none;
  padding-block: 0.5rem;

  height: 100%;
  position: relative;
  color: $color-highlight;
  flex-direction: column;
  gap: 0.25rem;

  &.active {
    display: grid;
    align-content: start;
  }
  .row {
    gap: 0.25rem;

    // border-bottom: 2px dashed;
    .content {
      display: flex;
      overflow-x: scroll;
      .button-span {
        padding-inline: 0.5rem;
        white-space: nowrap;
        height: 100%;
        display: flex;
        align-items: center;

        &.link:hover,
        &.link:focus-visible {
          cursor: pointer;
          background-color: $color-highlight;
          // color: black;
          color: $screen-color;
          outline: none;
        }
      }
    }
    &.title {
      .content {
        .button-span {
          flex: 1;
        }
        span:hover {
          a {
            // color: black;
            color: $screen-color;
          }
        }
        a {
          flex: 1;
          color: $color-highlight;
          text-decoration: none;
          cursor: inherit;
        }
      }
    }
    &.subtitle {
      grid-template-columns: 1fr;
      font-size: 0.75rem;
      font-style: normal;

      grid-template-rows: 1.25rem;
      .content {
        justify-content: center;
        align-items: center;
        box-shadow: none;
        overflow: visible;
        overflow-x: scroll;
        border: 2px solid;

        .button-span {
          padding-block: 0;
          justify-content: center;
          border-right: 2px solid;

          flex: 1;
          &:last-child {
            border: none;
          }
        }
      }
      > span.content:first-child {
        justify-content: flex-start;
        justify-content: stretch;
      }
    }
    &.plot {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
      text-align: center;
      overflow-y: scroll;

      > span:first-child {
        justify-content: center;
        height: 1.25rem;
      }
      .content {
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: left;
        align-items: start;
        padding: 0.25rem 0.5rem;
        max-height: 200px;
        hyphens: auto;
        -webkit-hyphens: auto;
      }
    }
    > span {
      &:first-child {
        justify-content: center;
      }
      display: flex;
      align-items: center;
      border: 2px solid $color-highlight;
      position: relative;
    }
  }
}
