@import "./variables.scss";
@import "./extras.scss";

.monitor {
  // font-family: "Handjet", sans-serif;
  // font-family: "Tiny5", sans-serif;
  // font-family: "Press Start 2P", system-ui;
  // font-family: "VT323", monospace;
  // font-weight: 400;
  // font-style: normal;
  // font-weight: 700;
  // letter-spacing: 0.25ch;
  // font-style: normal;
  grid-area: main;
  padding: $monitor-padding;
  box-shadow: $monitor-bevel-outer, $monitor-shadow-outer;
  border-radius: $monitor-border-radius;
  background-color: $monitor-color;
}
.main-screen {
  position: relative;
  height: 100%;
  padding: 1rem;
  min-height: 360px;
  // display: flex;
  // flex-direction: column;
  box-shadow: $monitor-bevel-inner;
  border-radius: $monitor-border-radius;

  display: grid;
  grid-template-rows: 6% 94%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    background: $screen-bg;
    pointer-events: none;
    border-radius: $monitor-border-radius;
  }
  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 0;
    pointer-events: none;
    box-shadow: $monitor-bevel-inner, $monitor-shadow-inner, $monitor-glow;
    border-radius: $monitor-border-radius;
    background: radial-gradient(
      ellipse at center,
      transparent 55%,
      rgba($screen-bg, 0.55) 100%
    );
  }

  &.loading::after {
    content: "LOADING DATA...";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // inset: $monitor-padding;
    inset: 0;
    z-index: 2;
    background: $screen-bg;
    color: $color-highlight;
    background: radial-gradient(
      ellipse at center,
      rgba($screen-bg, 1) 30%,
      rgba($screen-bg, 1) 90%
    );
  }
}
.tabs {
  // display: flex;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 1.25rem;
  align-items: flex-start;
  @media screen and (max-width: $breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
  span {
    padding-inline: 0.75rem;
    border: 2px solid $color-highlight;
    // border-bottom: none;
    box-shadow: inset $shadow-offset $shadow-offset $shadow-blur $shadow-color,
      $shadow-offset $shadow-offset $shadow-blur $shadow-color;

    // text-shadow: $shadow-offset $shadow-offset $shadow-blur $shadow-color;
    // color: black;
    color: $color-highlight;
    &:hover {
    }
    &.active {
      background-color: $color-highlight;
      box-shadow: $shadow-offset $shadow-offset $shadow-blur $shadow-color;
      color: black;
      // text-shadow: none;
    }
  }
}

// .main-screen {
//   height: 100%;
//   z-index: 1;
//   background-color: $screen-bg;
// }

.row {
  display: grid;
  grid-template-columns: 1fr 6fr;

  grid-template-rows: 2rem;
  // &.plot {
  //   grid-template-columns: 1fr;
  //   text-align: center;
  //   // max-height: 6rem;
  //   overflow-y: scroll;
  //   > span {
  //     justify-content: center;
  //   }
  //   .content {
  //     align-items: start;
  //   }
  // }
}
