@import "./variables.scss";
@import "./extras.scss";

// .monitor {
//   grid-area: main;
//   padding: $monitor-padding;
//   box-shadow: $monitor-bevel-outer, $monitor-shadow-outer;
//   border-radius: $monitor-border-radius;
//   background-color: $monitor-color;
// }

.monitor-outer {
  padding: $monitor-padding;
  box-shadow: $monitor-bevel-outer, $monitor-shadow-outer;
  border-radius: $monitor-border-radius;
  background-color: $monitor-color;
  position: relative;

  @media screen and (max-width: $breakpoint-sm) {
    height: 480px;
  }
}

.monitor-inner {
  box-shadow: $monitor-bevel-inner;
  height: 100%;
  width: 100%;
}
.main {
  grid-area: main;
}

.screen {
  background: $screen-color;
  border-radius: $monitor-border-radius;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: $monitor-border-radius;
    position: absolute;
    color: $color-highlight;
    background: radial-gradient(
      ellipse closest-side at center,
      transparent 75%,
      rgba($screen-color, 0.65) 150%
    );
    pointer-events: none;
    box-shadow: $monitor-shadow-inner;
  }
  &.loading::after {
    content: "LOADING DATA...";
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(
      ellipse closest-side at center,
      $screen-color 100%,
      rgba($screen-color, 1) 150%
    );
  }
}
.main-screen {
  position: relative;
  height: 100%;
  padding: 1rem;
  min-height: 360px;
  display: grid;
  grid-template-rows: 8% 92%;

  @media screen and (max-height: $breakpoint-sm) {
    height: 40dvh;
  }
}

.tabs {
  // display: flex;
  z-index: 0;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  @media screen and (max-width: $breakpoint-md) {
    text-align: center;
  }
  span {
    padding-inline: 0.75rem;
    border: 2px solid $color-highlight;
    height: 100%;
    color: $color-highlight;
    align-content: center;
    cursor: pointer;
    &:hover {
      background-color: $color-highlight;
      color: $screen-color;
    }
    &.active {
      background-color: $color-highlight;
      color: $screen-color;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 6fr;

  grid-template-rows: 2rem;
}
