/* #c0d2d3; #4a5488; */
/* #c0d2d3; #4a5488; */
/* #c0d2d3; #4a5488; */
.search {
  position: relative;
  grid-area: search;
  padding: 2rem;
  display: grid;
  place-items: center;
  background: linear-gradient(-65deg, darkorange 10%, black 10% 25%, darkorange 25% 35%, black 35% 50%, darkorange 50% 60%, black 60% 75%, darkorange 75% 85%, black 85% 100%);
  /* display: grid;
        place-items: center; */
}
.search #submit {
  background-color: red;
  /* width: 30%; */
  aspect-ratio: 1/1;
  height: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 0 3px 4px hsla(0, 100%, 0%, 0.9), inset 0 0 6px 10px rgba(255, 150, 150, 0.7);
  transition-duration: 250ms;
  transition-property: box-shadow, background-color;
  border: 5px solid grey;
  /* border: 20px solid;
        border-image: linear-gradient(to left, black, white);
        border-image-slice: 10; */
}
.search #submit:active {
  box-shadow: inset 0 0 5px 7px rgb(0, 0, 0), inset 0 0 6px 10px rgba(255, 150, 150, 0.6);
  /* background-color: darkred; */
}
.rating {
  grid-area: rating;
  background-color: blue;
}

@media screen and (max-width: 768px) {
  .extra-1,
  .extra-2 {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .extra-3 {
    display: none;
  }
}

.extra-1 {
  background-color: orange;
  grid-area: extra-1;
  padding: 1rem;
}
.extra-1 .container {
  background: radial-gradient(circle at 50% 35%, #334a38, #1e2a1e);
  padding: 0.25rem 0.5rem;
}

.extra-2 {
  background-color: purple;
  grid-area: extra-2;
}

.extra-3 {
  background-color: darkred;
  grid-area: extra-3;
}

.monitor {
  grid-area: main;
  padding: 1rem;
}

.main-screen {
  position: relative;
  height: 100%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 6% 94%;
}
.main-screen::before {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  background: radial-gradient(circle at 50% 35%, #334a38, #1e2a1e);
  pointer-events: none;
}
.main-screen::after {
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  pointer-events: none;
  box-shadow: inset 1px 1px 3px 3px black;
}
.main-screen.loading::after {
  content: "LOADING DATA...";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--color-screen-bg);
}

.tabs {
  display: flex;
  z-index: 0;
}
.tabs span {
  padding-inline: 0.75rem;
  border: 2px solid rgb(65, 203, 44);
  border-bottom: none;
  box-shadow: inset 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3), 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  text-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  color: black;
}
.tabs span:hover {
  color: rgb(65, 203, 44);
}
.tabs span.active {
  background-color: rgb(65, 203, 44);
  box-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  color: black;
  text-shadow: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 6fr;
}
.row.plot {
  grid-template-columns: 1fr;
  text-align: center;
  overflow-y: scroll;
}
.row.plot > span {
  justify-content: center;
}
.row.plot .content {
  align-items: start;
}

/* #c0d2d3; #4a5488; */
.poster-screen {
  display: block;
  padding: 1rem;
  position: relative;
  height: 100%;
  grid-area: poster;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.poster-screen::before {
  content: "";
  display: block;
  position: absolute;
  inset: 1rem;
  background: radial-gradient(circle at 50% 35%, #334a38, #1e2a1e);
}
.poster-screen::after {
  content: "";
  display: block;
  position: absolute;
  inset: 1rem;
  pointer-events: none;
  box-shadow: inset 1px 1px 3px 3px black;
}
.poster-screen .container {
  display: block;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  padding-bottom: 1rem;
  padding-inline: 1rem;
}
.poster-screen .container::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  translate: -50% 0;
  width: 2px;
  height: 0.4rem;
  background-color: rgb(65, 203, 44);
}
.poster-screen .container::after {
  content: attr(data-movie-id);
  display: block;
  border: 2px solid rgb(65, 203, 44);
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  font-size: 0.75rem;
  padding-inline: 0.5rem;
  background: darkred;
}
.poster-screen #poster {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 2px solid rgb(65, 203, 44);
  box-shadow: inset 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3), 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  padding-top: 0.75rem;
}

/* #c0d2d3; #4a5488; */
.info {
  display: none;
  padding: 0.5rem;
  box-shadow: inset 3px 3px 20px 1px rgba(255, 255, 255, 0.25);
  height: 100%;
  position: relative;
  color: rgb(65, 203, 44);
  flex-direction: column;
  gap: 0.25rem;
}
.info.active {
  border: 2px solid rgb(65, 203, 44);
  box-shadow: inset 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3), 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.info .row {
  gap: 0.25rem;
}
.info .row .content {
  display: flex;
  overflow-x: scroll;
}
.info .row .content .button-span {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
.info .row .content .button-span.link:hover {
  cursor: inherit;
  background-color: rgb(65, 203, 44);
  text-shadow: none;
  color: black;
}
.info .row.title .content span:hover a {
  color: black;
}
.info .row.title .content a {
  color: rgb(65, 203, 44);
  text-decoration: none;
  cursor: inherit;
}
.info .row.subtitle {
  grid-template-columns: 1fr;
  font-size: 0.8rem;
  font-style: normal;
}
.info .row.subtitle .content {
  justify-content: center;
  align-items: center;
  box-shadow: none;
  overflow: visible;
}
.info .row.subtitle .content .button-span {
  padding-block: 0;
  border: 2px solid;
  text-align: center;
  box-shadow: var(--screen-shadow);
  text-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  flex: 1;
}
.info .row.subtitle .content .button-span:not(.info .row.subtitle .content .button-span:last-child) {
  border-right: none;
}
.info .row.subtitle > span.content:first-child {
  justify-content: flex-start;
  justify-content: stretch;
  /* gap: 0; */
  border: none;
}
.info .row.plot {
  grid-template-columns: 1fr;
  text-align: center;
}
.info .row.plot > span {
  justify-content: center;
}
.info .row.plot .content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0.25rem 0.5rem;
}
.info .row > span {
  display: flex;
  align-items: center;
  border: 2px solid rgb(65, 203, 44);
  position: relative;
  box-shadow: inset 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3), 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  text-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
}
.info .row > span:first-child {
  justify-content: center;
}

/* #c0d2d3; #4a5488; */
.filters {
  /* background-color: var(--inactive-color); */
  display: none;
  padding: 0.5rem;
  box-shadow: inset 3px 3px 20px 1px rgba(255, 255, 255, 0.25);
  height: 100%;
  position: relative;
  color: rgb(65, 203, 44);
  gap: 0.25rem;
  flex-direction: column;
}
.filters.active {
  border: 2px solid rgb(65, 203, 44);
  box-shadow: inset 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3), 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.filters .row {
  grid-template-columns: 1fr;
}
.filters .row .header {
  border: 2px solid rgb(65, 203, 44);
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.filters .row .header > span {
  padding: 0.25rem;
  padding: 0.25rem 0.5rem;
}
.filters .row .content .button-span {
  padding: 0.25rem 0.5rem;
  white-space: nowrap;
}
.filters .row .content .button-span.link:hover {
  cursor: inherit;
  background-color: rgb(65, 203, 44);
  text-shadow: none;
  color: black;
}
.filters .row.genres, .filters .row.countries {
  background-color: #3e3f31;
  grid-template-rows: 1fr 0;
  overflow: hidden;
  transition-property: row-gap;
}
.filters .row.genres.open, .filters .row.countries.open {
  grid-template-rows: min-content min-content;
  row-gap: 0.25rem;
}
.filters .row.genres .value:hover, .filters .row.countries .value:hover {
  background-color: rgb(65, 203, 44);
  color: black;
  text-shadow: none;
}
.filters .row.genres .content, .filters .row.countries .content {
  display: flex;
  flex-direction: column;
  max-height: 11.62rem;
  overflow-y: scroll;
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid rgb(65, 203, 44);
  scroll-snap-type: y mandatory;
}
.filters .row.genres .option, .filters .row.countries .option {
  scroll-snap-align: start;
}
.filters .row.genres .option.selected, .filters .row.countries .option.selected {
  background-color: rgb(65, 203, 44);
  color: black;
  text-shadow: none;
}
.filters .row.genres .option.selected:hover, .filters .row.countries .option.selected:hover {
  color: white;
}
.filters .row.genres .value {
  white-space: nowrap;
  overflow-x: scroll;
}
.filters .row.genres .content {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.filters .row.genres .content .option {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.filters .row > span {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: inset 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3), 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
  text-shadow: 0.1rem 0.1rem 0px rgba(0, 0, 0, 0.3);
}
.filters .row > span:first-child {
  justify-content: center;
}

/* #c0d2d3; #4a5488; */
.search {
  position: relative;
  grid-area: search;
  padding: 2rem;
  display: grid;
  place-items: center;
  background: linear-gradient(-65deg, darkorange 10%, black 10% 25%, darkorange 25% 35%, black 35% 50%, darkorange 50% 60%, black 60% 75%, darkorange 75% 85%, black 85% 100%);
  /* display: grid;
        place-items: center; */
}
.search #submit {
  background-color: red;
  /* width: 30%; */
  aspect-ratio: 1/1;
  height: 150px;
  border-radius: 50%;
  border: none;
  box-shadow: inset 0 0 3px 4px hsla(0, 100%, 0%, 0.9), inset 0 0 6px 10px rgba(255, 150, 150, 0.7);
  transition-duration: 250ms;
  transition-property: box-shadow, background-color;
  border: 5px solid grey;
  /* border: 20px solid;
        border-image: linear-gradient(to left, black, white);
        border-image-slice: 10; */
}
.search #submit:active {
  box-shadow: inset 0 0 5px 7px rgb(0, 0, 0), inset 0 0 6px 10px rgba(255, 150, 150, 0.6);
  /* background-color: darkred; */
}
.rating {
  grid-area: rating;
  background-color: blue;
}

@media screen and (max-width: 768px) {
  .extra-1,
  .extra-2 {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .extra-3 {
    display: none;
  }
}

.extra-1 {
  background-color: orange;
  grid-area: extra-1;
  padding: 1rem;
}
.extra-1 .container {
  background: radial-gradient(circle at 50% 35%, #334a38, #1e2a1e);
  padding: 0.25rem 0.5rem;
}

.extra-2 {
  background-color: purple;
  grid-area: extra-2;
}

.extra-3 {
  background-color: darkred;
  grid-area: extra-3;
}/*# sourceMappingURL=main.css.map */