@import "./variables.scss";

.poster-screen {
  display: block;
  padding: $monitor-padding;
  position: relative;
  height: 100%;
  grid-area: poster;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  // background-color: $monitor-color;
  // box-shadow: $monitor-bevel-outer, $monitor-shadow-outer;
  // border-radius: $monitor-border-radius;

  &::before {
    // content: "";
    // display: block;
    // position: absolute;
    // inset: $monitor-padding;
    // background: $screen-bg;
    // border-radius: $monitor-border-radius;
  }
  &::after {
    // content: "";
    // display: block;
    // position: absolute;
    // inset: $monitor-padding;

    // pointer-events: none;
    // box-shadow: $monitor-shadow-inner, $monitor-bevel-inner, $monitor-glow;
    // border-radius: $monitor-border-radius;
  }

  .container {
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-radius: $monitor-border-radius;
  }

  #poster {
    max-height: 100%;
    max-width: 100%;

    @media screen and (max-width: $breakpoint-sm) {
      max-height: 360px;
    }
    object-fit: contain;
    mix-blend-mode: lighten;
    filter: brightness(0.75);
  }
}
