$color-highlight: rgb(65, 203, 44);
$color-beige: #c9c5b1;

$screen-color: #222;

// Breakpoints

$breakpoint-xs: 320px;
$breakpoint-sm: 580px;
$breakpoint-md: 640px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1024px;

// Monitor variables
$monitor-padding: 2rem;
$monitor-border-radius: 0.5rem;
$monitor-color: $color-beige;

// Bevels
$monitor-bevel-light-color: rgba(255, 255, 255, 0.3);
$monitor-bevel-shadow-color: rgba(0, 0, 0, 0.6);
$monitor-bevel-outer: inset 4px 4px 1px 0 $monitor-bevel-light-color,
  inset -4px -4px 1px 0 $monitor-bevel-shadow-color;

$monitor-bevel-inner: 2px 2px 1px 2px $monitor-bevel-light-color,
  -2px -2px 1px 2px $monitor-bevel-shadow-color;

// Shadows
$monitor-shadow-inner: inset 0 0 12px 15px rgba(0, 0, 0, 0.75),
  inset 0 0 4px 4px rgba(0, 0, 0, 1), 0 0 1px 1px rgba(0, 0, 0, 1);
$monitor-shadow-outer: 0 0 2px 2px black;

// Glows
$monitor-glow: 0 0 2px 1px rgba($color-highlight, 0.9);
