@mixin kurac {
    background: red !important;

}

@mixin edge-bevel($size: 2px,
    $blur: null,
    $opacity: 0.5,
    $light: white,
    $shadow: black) {
    @if $blur {
        box-shadow: inset $size $size $blur $size rgba($light, $opacity),
            inset $size * -1 $size * -1 $blur $size rgba($shadow, $opacity);
    }

    @else {
        box-shadow: inset $size $size $size $size rgba($light, $opacity),
            inset $size * -1 $size * -1 $size $size rgba($shadow, $opacity);
    }

    border-radius: $size;

}

@mixin edge-inset($size: 2px,
    $blur: null,
    $opacity: 0.5,
    $light: white,
    $shadow: black) {
    @if $blur {
        box-shadow: $size $size $blur $size rgba($light, $opacity),
            $size * -1 $size * -1 $blur $size rgba($shadow, $opacity);
    }

    @else {
        box-shadow:
            $size * -1 $size * -1 $size $size rgba($shadow, $opacity),
            $size $size $size $size rgba($light, $opacity),
            inset $size $size $size 0 rgba($shadow, $opacity / 3),
            inset $size * -1 $size * -1 $size 0 rgba($shadow, $opacity / 5);
    }

    border-radius: $size;
}


@mixin text-bevel($color: pink) {
    color: transparent;
    text-shadow: 0 0 0.5px $color, 0.75px 0.75px 0.75px darken($color, 40),
        -0.75px -0.75px 0.75px lighten($color, 35);
}