@use "sass:color";

// Color presets
$color-mint: rgb(15, 170, 131);

$screen-color: #131313;

// Breakpoints
$breakpoint-xs: 320px;
$breakpoint-sm: 580px;
$breakpoint-md: 640px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1024px;

// Monitor variables
$monitor-padding: 2rem;
$monitor-border-radius: 1rem;
$monitor-color: #a8a384;

// UI variables
$ui-color-background: black;
$ui-color-foreground: rgb(15, 170, 131); // This is a good color

// Border
$border-default: 1px solid $ui-color-foreground;
