:root {
    --media-query-mobile: 480px;
    --media-query-tablet: 768px;
    --media-query-desktop: 1024px;
    --color-highlight: white;
    /* --color-highlight: rgb(1, 245, 113); */
    --color-dark: #222;

    --border-default: 2px solid var(--color-highlight);

    --anim-default: 250ms ease-in-out;

    --height-row: 3rem;
    --height-row-s: 1.8rem;
}